
body {
    font-family: 'Arial', sans-serif;
    background-color: #74CEF7;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

#Zoek_gedeelte {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
}

#zoekInput {
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    width: 200px;
}

#zoekButton {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#zoekButton:hover {
    background-color: #990000;
}

#result {
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}


